.label {
  font-size: 1.125rem;
  font-weight: 700;
  color: #333;
  margin-top: 1rem;
  display: flex;

  .required {
    display: inline-block;
    margin-top: 0.25rem;
    margin-left: 0.3rem;
    width: 0.25rem;
    height: 0.25rem;
    background-color: #ff0000;
    border-radius: 50%;
  }
}
