.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentBox {
  & > label {
    padding-left: 0.5rem;
    cursor: pointer;
  }

  & > input {
    cursor: pointer;
  }
}

.inside {
  padding: 0.5rem;
}
