@import './base/nomalize';

@import './constants/colors';
@import './constants/typography';

@import './mixins/flexbox';
@import './mixins/positions';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.init-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.init-body {
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 150px);
}

.content-box {
  width: 100%;
  max-width: 80rem;
}
