.guesetMenu {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
  gap: 1.2rem;
  margin-right: 0.5rem;

  li {
    line-height: 1.2;
  }

  li:first-child {
    margin-right: 1rem;
  }
}
