.accountBox {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    width: 12.5rem;
    height: 6.25rem;
    margin-bottom: 1.5rem;
  }
}
