.signUpinfo {
  padding-left: 1rem;
  line-height: 1.4;
  font-size: 0.875rem;
  color: #ff0000;
}

.genderBox {
  display: flex;
  margin: 0.5rem 0;

  div {
    width: 50%;
    height: 3.125rem;
    border: 1px solid #333;
    text-align: center;
    font-size: 1.125rem;
    padding-top: 0.9rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &.checking {
      background-color: #333;
      color: #fff;
    }

    & + div {
      border-left: none;
    }
  }
}

.privacyPolicy {
  position: relative;

  .privacyPolicyDetail {
    position: absolute;
    right: 0;
    top: 32%;
    color: #33333380;
  }
}

.signupButtonDeActivation {
  color: #666666;
  background-color: #e9e9e9;
}

.signupButtonActivation {
  color: #ffffff;
  background-color: #333333;
}
